<!-- inicio nosotros -->
<div id="nosotros" class="row equipo py-4">
    <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="card-group">
            <div class="card">
                <img src="/public/images/equipo1.jpg" class="card-img-top" alt="equipo1">
                <div class="card-body">
                    <h5 class="card-title">Diana Reyes</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="/public/images/equipo2.jpg" class="card-img-top" alt="equipo2">
                <div class="card-body">
                    <h5 class="card-title">Juana Gomez</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam
                        doloremque ut at, consequatur odit accusantium modi, eveniet debitis architecto id quae
                        quos ea rerum, voluptatum culpa asperiores non! Incidunt, beatae!</p>
                </div>
            </div>
            <div class="card">
                <img src="/public/images/equipo3.jpg" class="card-img-top" alt="equipo3">
                <div class="card-body">
                    <h5 class="card-title">Roberto Zavala</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img src="/public/images/equipo4.jpg" class="card-img-top" alt="equipo4">
                <div class="card-body">
                    <h5 class="card-title">Luciano Figueroa</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis
                        facere tempore labore quidem assumenda deserunt voluptas reprehenderit harum. Facere
                        quibusdam porro dicta odit eius non quo aliquid, necessitatibus tenetur voluptatibus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fin nosotros -->