<!-- inicio novedades -->
<h2>Novedades</h2>
<ul class="lista-novedades">
    <li><a href="#" data-bs-toggle="modal" data-bs-target="#modalEmpresarial">
            <img src="/public/images/novedad1.jpg" alt="novedad1.jpg">Mensajería Empresarial</a></li>
    <li><a href="#" data-bs-toggle="modal" data-bs-target="#modalEsencial">
            <img src="/public/images/novedad2.jpg" alt="novedad2.jpg">Servicio Esencial</a></li>
    <li><a href="#" data-bs-toggle="modal" data-bs-target="#modalExpress">
            <img src="/public/images/novedad3.jpg" alt="novedad3.jpg">Express</a></li>
    <li><a href="#" data-bs-toggle="modal" data-bs-target="#modalEnCasa">
            <img src="/public/images/novedad4.jpg" alt="novedad4.jpg">Quedate en casa</a></li>
</ul>
<!-- fin novedades -->

<!-- inicio testimonios -->
<h2>Testimonios</h2>

<div>
    <h5>Eluney Espinosa- Gerente</h5>
    <p>Recomiendo Chau Fila a todos los propietarios de negocios o líderes en
        crecimiento que quieran llevar su empresa al siguiente nivel.</p>
</div>
<div>
    <h5>Guillermina Rearte - Dueña Pastelería</h5>
    <p>Chau Fila asiste personalmente a los clientes y da su opinión sobre estrategias y
        soluciones en logística.</p>
</div>
<div>
    <h5>Daniel Gonzalez - Comerciante</h5>
    <p>Los chicos de Chau Fila ayudaron a que mi negocio despegara y se convirtiera en
        una empresa rentable.</p>
</div>
<!-- fin testimonios -->