<div class="container" style="margin-top: 150px; margin-bottom: 60px;">
    <div class="row">
        <div class="col">
            <p>Hola {{usuario}}!!</p>
            <a href="/admin/login/logout" class="btn btn-secondary">Cerrar Sesión</a>
        </div>
    </div>
</div>